.event-tile {
	margin: 16px;
}

.event-tile .tag {
	position: absolute;
	top: 5%;
	right: 1%;
	display: block;
	color: white;
	padding: 0 0.5rem;
	background: orange;
}

.event-tile .card {
	overflow-y: auto;
}

.event-tile .card-body {
	padding-left: 4px;
	padding-right: 4px;
	
}

.event-tile .card-text {
	margin: 6px;
}

.event-tile .card-img-top {
	width: 100%;
	height: 20vh;
	object-fit: contain;
}

.event-tile .card-title {
	font-size: 1em;
	height: 6vh;
}
