.weather-image {
  margin-top: -2.5em;
  margin-bottom: -4em;
}

.temperature-text {
  font-size: 2em;
}

.weather-type-text {
  font-size: 0.8em;
  text-align: center;
}

/* .rain-chance-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.rain-chance-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
} */
