@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
$font-family-base: Nunito;
@import url(https://fonts.googleapis.com/css?family=Crete+Round:200,300,400,700);
$headings-font-family: Crete Round;

$primary: #07689f;
$secondary: #c9d6df;
$success: #f7e9cc;
$info: #a2d5f2;
$warning: #7B4B94;
$danger: #E71D36;
$light: #bcd3c3;
$dark: #3c096c;

$primary-alt: #083358;
$secondary-alt: #B48EAE;
$success-alt: #EEB1D5;
$info-alt: #A8D4AD;
$warning-alt: #F5A65B;
$danger-alt: #E63946;
$light-alt: #fefae0;
$dark-alt: #90ba9e;

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
	'primary-alt': $primary-alt,
	'secondary-alt': $secondary-alt,
	'success-alt': $success-alt,
	'info-alt': $info-alt,
	'warning-alt': $warning-alt,
	'danger-alt': $danger-alt,
	'light-alt': $light-alt,
	'dark-alt': $dark-alt,
) !default;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge(
	$utilities,
	(
		'color':
			map-merge(
				map-get($utilities, 'color'),
				(
					values: map-merge(map-get(map-get($utilities, 'color'), 'values'), ($all-colors)),
				)
			),
	)
);

@import '~bootstrap/scss/utilities/api';
@import '~bootstrap/scss/bootstrap';
